/target/m2e-wtp/web-resources/META-INF/maven/cn.lxj/.gitignore
/target/classes/cn/lxj/dao/*.class
/target/classes/cn/lxj/service/*.class
/target/classes/cn/lxj/service/impl/*.class
web-resources
controller
/target/test-classes/lxj/*.class
